@import url('/ToonLand/fonts/AnisaSans.ttf');

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/AnisaSans.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(/fonts/sassoon/SassoonSansStd-Medium.otf);
}


body {
    margin: 0%;
    padding: 0%;
    font-family: mySecondFont;
}


/* .landing-page {
    position: relative;
} */

.hero {
    width: 100%;
    height: auto;
}

.sub-text {
    color: white;
    font-size: 3rem;
    font-family: mySecondFont;
    position: absolute;
    top: 4rem;
}

.logo-typo {
    width: 35rem;
    height: auto;
    position: absolute;
    top: 10.5rem;
}