@import url('/ToonLand/fonts/AnisaSans.ttf');
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/AnisaSans.ttf);
}

.landing-page {
    position: relative;
}

.logo {
    width: 8rem;
    min-height: 0%;
    z-index: 100;
    position: absolute;
}

.sub-text {
    color: white;
    font-size: 3rem;
    z-index: 100;
    top: 9rem;
    position: absolute;
    font-family: myFirstFont;
}

.logo-typo {
    width: 35rem;
    top: 12rem;
    z-index: 100;
    position: absolute;
}

.hero {
    position: absolute;
    top: 0%;
    width: 92rem;
    min-height: 0%;
    z-index: -976;
}