@import url('/ToonLand/fonts/AnisaSans.ttf');

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/AnisaSans.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(/fonts/sassoon/SassoonSansStd-Medium.otf);
}


.background {
    background-image: url(/Assets/all_bg-8.png);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -789;
}

.cards {
    padding-top: 7rem;
    font-family: myFirstFont;
}

.btn {
    background-color: #CBE0F4;
    color: black;
    width: 100%;
}

.background-book {
    position: absolute;
}

.books {
    padding-top: 4rem;
    padding-left: 3rem;
}