#card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    margin: 1rem;
    padding: 2rem;
    width: 100%;
}

#card #display {
    width: 60%;
    border-radius: 20px 0 0 20px;
    background: rgba(32, 157, 246, 0.5);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#title {
    font-size: 3 rem;
}

#card #display>* {
    text-align: center;
}

#card #display #art {
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 2rem;
}

#card #list {
    width: 40%;
    border-radius: 0 20px 20px 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

#card #list .item {
    padding: 0 1em;
    background: white;
    transition: all 0.3s ease;
}

#card #list .item:first-of-type {
    border-radius: 0 20px 0 0;
}

#card #list .item:last-of-type {
    border-radius: 0 0 20px 0;
}

#card #list .item.is-active {
    background: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    transition: all 0.3s ease;
}

#card #list .item:hover {
    cursor: pointer;
    background: rgb(209, 201, 201);
}

@media only screen and (max-width: 600px) {
    #card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        margin: 1rem;
        padding: 1rem;
        width: 100%;
    }

    #card #display {
        width: 160%;
        border-radius: 20px 0 0 20px;
        background: rgba(32, 157, 246, 0.5);
        backdrop-filter: blur(30px) hue-rotate(20deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    #card #display>* {
        text-align: center;
    }

    #card #display #art {
        height: 100px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    #card #list {
        width: 100%;
        border-radius: 0 20px 20px 0;
        background: transparent;
        display: flex;
        flex-direction: column;
    }

    #card #list .item {
        padding: 0 1em;
        background: white;
        transition: all 0.3s ease;
        font-size: 0.8rem;
    }

    #card #list .item:first-of-type {
        border-radius: 0 20px 0 0;
    }

    #card #list .item:last-of-type {
        border-radius: 0 0 20px 0;
    }

    #card #list .item.is-active {
        background: rgba(255, 255, 255, .5);
        backdrop-filter: blur(30px) hue-rotate(20deg);
        transition: all 0.3s ease;
    }

    #card #list .item:hover {
        cursor: pointer;
        background: rgb(209, 201, 201);
    }

    #title {
        font-size: 1rem;
    }



}