* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.main-video {
    position: absolute;
    top: 8rem;
    left: 16rem;
    border-radius: 1rem;
}

.main-video iframe {
    border: 1rem;
    border-radius: 1rem;
    border-color: white;
}

.main-video h4 {
    color: white;
}

.video-section {
    margin-top: 4rem;
}